h2{
    letter-spacing: .05rem;
    font: 1.8em 'Roboto Slab', serif;
}
#container{
    height: 100vh;
    padding: 0;
    position: relative;
}
nav {
    padding: 15px 15px 0 15px;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1;
    width: 100%;
}

.nav-link{
    color: #495057;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: .075em;
    margin-top: 4.3vh;
}

.nav-tabs .nav-item {
    margin-top: 1.5px;
}

.nav-tabs .nav-link.active {
    color: #e5a2a2;
    border-color: #e5a2a2 #e5a2a2 #ffffff;
}

.line {
    position: fixed;
    bottom: 0;
    margin: 0 15px;
    padding: 10px 0;
    width: calc(100% - 30px);
    border-top: 1px solid #e5a2a2;
    font-size: 1em;
    letter-spacing: .05em;
    display: flex;
    justify-content: space-between;
    background-color: white;
    z-index: 1;
}

footer {
    padding: 5px;
    color: #495057;
    /* font-weight: lighter; */
}

.nav-tabs .nav-link:hover {
    color: #e5a2a2;
    border-color: #e5a2a2 #e5a2a2 #ffffff;
    background-color: #ffffff;
    transition: .5s ease-in-out;
}

.nav-tabs {
    /* height: 10vh; */
    border-bottom: 1px solid #e5a2a2;

}

#flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
    width: 100vh;
}

#about p {
    text-align: justify;
}

#bio-pic {
    /* border: 2px solid black; */
    border: 1px solid #e5a2a2;
    border-radius: .25rem;
    height: 30em;
    width: 20em;
    margin-bottom: 1em;
    background-image: url("../img/John  Renee Wedding-547.jpg");
    background-size: cover;
    background-position: top ;
    background-repeat: no-repeat;
}

#about-container{
    margin: 18vh auto;
    width: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1em;
    grid-column-gap: 5em;
    grid-template-areas:
    "left right";
}

#about-left{
    height: 70vh;
    width: 100%;
    /* border: 1px solid #e5a2a2; */
    /* border-radius: .25rem; */
    grid-area: left;
    background-image: url("../img/John  Renee Wedding-547.jpg");
    background-size: cover;
    background-position: top ;
    background-repeat: no-repeat;
    -moz-box-shadow:    inset 0 0 15px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1);
    box-shadow:         inset 0 0 15px rgba(0, 0, 0, 0.1);
}

#about-right{
    padding: 0.5rem 0;
    grid-area: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    color: #495057;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: .075em;;
    text-decoration: none;
    border: 1px solid #495057;
    border-radius: .25rem;
    padding: 14px;
    text-align: center;
    grid-area: res;
    transition: transform .5s ease-in-out;
}

.btn:hover {
    border:1px solid #e5a2a2;
    color: #e5a2a2;
    transition: .5s ease-in-out;
    cursor: pointer;
    opacity: 95%;
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}

#learn-more{
    padding:14px 18px;
}

#icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right:0;
    bottom: 7vh;
    padding: 20px;
}

#icons i {
    color: #212529;
    padding: 10px 0;
    font-size: 40px;
    transition: transform .5s ease-in-out;
}

#icons i:hover {
    color: #e5a2a2;
    transition: .5s ease-in-out;
    cursor: pointer;
    opacity: 95%;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.container {
    width:100%;
    border: 1px solid #495057;
    border-radius: .25rem;
    transition: transform 1s ease-in-out;
    text-align: center;
    box-shadow: 0 0 .5em rgba(73,80,87,.5);
    /* box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0px 0 rgba(0,0,0,.07); */
}

.container:hover {
    /* border-color: #e5a2a2; */
    transition: 1s ease-in-out;
    cursor: pointer;
    opacity: .4;
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    box-shadow:
    0 0 0 1px rgba(0,0,0,.05),
    0 0 0 1px rgba(0,0,0,.1);
  }

#work-left{
    grid-area: work-left;
    background-image: url("../img/floralist-icon.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: block;
    width: 100%;
    height: 70vh;
}

#work-left:hover{
    background-image: url("../img/floralist-icon-hover.png");
}

#work-right-top{
    grid-area: work-top;
    background-image: url("../img/towers-icon.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: block;
}

#work-right-top:hover{
    background-image: url("../img/towers-icon-hover.png");
}

#work-right-mid{
    grid-area: work-middle;
    background-image: url("../img/tic-tac-toe-icon.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: block;
}

#work-right-mid:hover{
    background-image: url("../img/tic-tac-toe-hover.png");
}

#work-right-bot{
    grid-area: work-bot;
    background-image: url("../img/cart-icon.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: block;
}

#work-right-bot:hover{
    background-image: url("../img/cart-hover.png");
}

#work-container{
    margin: 17.5vh auto 0;
    width: 90vh;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 2em;
    grid-column-gap:4em;
    grid-template-areas:
    "work-left work-top"
    "work-left work-middle"
    "work-left work-bot";
}

#work{
    position: relative;
    top:0;
}

#heading{
    padding: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2px;   
}

header{
    width: 225px;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
}

#heading h1 {
    font: 1.8em 'Roboto Slab', serif;
    font-weight: lighter;
    letter-spacing: .1em;
    padding-left: .3em;
}

#heading h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    letter-spacing: .075em;
    color: #495057;
}
.floralist-container{
    display: flex;
}
#floralist-1 {
    margin: 0 auto;
    padding: 16vh 0 0;
    position: relative;
    display: grid;
    grid-template-columns: 40vh 60vh 40vh;
    grid-column-gap:3em;
    grid-template-areas:
    "f-left f-mid f-right";
}

#floralist-left{
    grid-area: f-left;
    background-image: url("../img/Floralist.PNG");
    height: 72vh;
    max-width: 40vh;
    background-size: cover;
    left:0;
}
#floralist-mid{
    grid-area: f-mid;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width:60vh;
    grid-area: f-mid;
    text-align: justify;
}
#floralist-intro{
    padding: 0 .5rem;

}
#floralist-right{
    grid-area:f-right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
    max-width: 40vh;
}

#floralist-welcome{
    background-image: url("../img/floralist-welcome.PNG");
}
#floralist-img-lib{
    background-image: url("../img/floralist-image-lib.PNG");
}

.floralist-img-card{
    width: 40vh;
    margin-bottom: 10px;
}

#floralist-btns{
    display: flex;
    justify-content: space-around;
    width:100%;
}

.floralist-img{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: block;
    width: 40vh;
    height: 25vh;
    border: 1px ;
    box-shadow: inset 0 0 10px rgba(73,80,87,.1);
    border: 0.5px solid #495057;
    border-radius: .25rem;
}
.floralist-text{
    font-size: .75rem;
    text-align: justify;
}
#f2-1{
    grid-area: f2-1;
}
#f2-2{
    grid-area: f2-2;
}
#f2-3{
    grid-area: f2-3;
}
#f2-4{
    grid-area: f2-4;
}
#floralist-2 {
    margin: 0 auto;
    padding: 17vh 0 0;
    max-width:87%;
    position: relative;
    display: grid;
    grid-column-gap:1em;
    grid-row-gap: 1em;
    grid-template-areas:
    "f2-1 f2-2"
    "f2-3 f2-4";
}
#floralist-proposals{
    background-image: url("../img/floralist-proposals.PNG");
}
#floralist-proposal-create{
    background-image: url("../img/floralist-edit-proposal.PNG");
}
#floralist-img-search{
    background-image: url("../img/floralist-search.PNG");
}
#floralist-proposal-send{
    background-image: url("../img/floralist-email.PNG");
}
#floralist-2 .floralist-img-card{
    width: 100%;
    max-height: 33vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.f2-img{
    height: 33vh;
}
.f2-text{
    padding: .25rem 1rem;
    max-width: 40vh;
    font-size: 1rem;
}
#other-work{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    padding: 16vh 10vh;
    position: relative;
}
.other-work{
    padding: 0 2vh;
    max-width: 45vh;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.other-work p{
    text-align: justify;
    font-size: .9rem;
    margin-top: .5rem;
}
.other-work .btn{
    margin: 0 auto;
}
.work-img{
    height: 30vh;
    width: 40vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: block;
    border: 1px;
    box-shadow: inset 0 0 10px rgba(73,80,87,.1);
    border: 0.5px solid #495057;
    border-radius: .25rem;
}
#towers-img{
    background-image: url("../img/Towers.PNG");
}
#cart-img{
    background-image: url("../img/Provisions.PNG");
}
#ttt-img{
    background-image: url("../img/TicTacToe.PNG");
}

@media screen and (max-width: 1024px){
    #icons{
        flex-direction: row;
        align-items: center;
        bottom: 8px;
        z-index: 2;
        padding: 0;
        margin-right: 5px;
    }
    #icons i{
        padding: 0 20px;
        font-size: 30px;
    }
    #other-work{
        padding: 16vh 0;
    }
    #floralist-1{
        grid-column-gap:1.5em;
    }
}
@media screen and (max-width: 768px){
    #work{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #floralist-1{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    #floralist-right{
        padding-top: 8vh;
        margin: 0 auto;
        height: auto;
        max-width: none;
    
    }
    .floralist-img-card, #floralist-2 .floralist-img-card {
        width: 100%;
        max-height: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .floralist-img, .f2-img{
        width: 66vh;
        height: 40vh;    
    }
    .floralist-text{
        padding: .25rem 1rem;
        max-width: 40vh;
        font-size: 1rem;
    }
    #floralist-2{
        display: block;
        padding:0;
        max-width:none;
    }
    #other-work{
        display:block;
        padding: 0;
    }
    .other-work{
        padding: 2vh 0;
        max-width: 55vh;
        margin: 0 auto;
        height: auto
    }
    .work-img{
        height: 40vh;
        width: 55vh;
        background-position: top;
    }
    #towers{
        padding: 16vh 0 0;
    }
    #ttt{
        padding: 16vh 0 12vh;
    }
    #cart{
        padding: 4vh 0 12vh;
    }
    #about-container{
        width: 90vh;
        grid-row-gap: 1em;
        grid-column-gap: 2em;
}
@media screen and (max-width: 610px){
    #about-container{
        margin: 0;
        margin-top: 13vh;        
        width: auto;
        display: flex;
        flex-direction: column;
    }
    #about-left{
        width: calc(90%);
        height: 68vh;
        margin: 2.5vh 20px 0 20px;
        /* border-radius: 50%; */
    }
    #about-right{
        padding: 1rem 5px;
        margin: 0 15px 60px;
    }
    #work-container{
        width: 80vh;
        grid-row-gap: 1em;
        grid-column-gap: 1em;
    }
    #floralist-mid{
        max-width: 40vh;
    }
    #floralist-left{
        height: 80vh;
        max-width: 32vh;
    }
    .floralist-img, .f2-img{
        width: 40vh;
        height: 30vh;
    }
    .floralist-text, .f2-text{
        padding: 0;
    }
    header{
        width: 220px;
        left: auto;
    }
    #heading{
        padding: .7vh;
        margin-top: 12.5px;
    }
    #heading h1{
        margin:0;
    }
}
@media screen and (max-width: 425px){
    nav{
        padding: 0 5px;
    }
    header{
        width: 160px;
    }
    #heading{
        margin-top: 4px;
    }
    #heading h1{
        font-size: 1.35em;
        margin-bottom: .01rem;
    }
    #heading h2{
        font-size: .75em;
    }
    .nav-link{
        margin-top: 3vh;
        padding: .5rem .75rem;
    }
    .line{
        margin:0 5px;
        width: calc(100% - 10px);
    }
    #icons{
        bottom: 12px;
    }
    #icons i {
        padding: 0 14px;
        font-size: 28px;
    }
    #work-container{
        width: 50vh;
        grid-row-gap: 1em;
        grid-column-gap: 1em;
        margin-top: 15vh;
        grid-template-areas: 
        "work-left work-left work-left" 
        "work-top work-middle work-bot";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 4fr 1fr;
    }
    #work-left{
        height: 50vh;
    }
    #work-right-bot{
        background-size: cover;
    }
    #floralist-left{
        height: 70vh;
        width: 50vh;
        max-width: none;
        margin-bottom: 5vh;
    }
    #floralist-mid{
        max-width: none;
        width: 50vh;
    }
    #floralist-right{
        padding-top: 5vh;
    }
    .floralist-img-card, #floralist-2 .floralist-img-card{
        flex-direction: column;
    }
    .floralist-img, .f2-img{
        width: 50vh;
        height: 40vh;
    }
    .floralist-text {
        max-width: 50vh;
    }
    #other-work{
        padding: 10vh 0;
    }
    .other-work{
        max-width: 50vh;
        height: auto;
    }
    .other-work p{
        font-size: 1rem;
    }
    .work-img{
        height: 40vh;
        width: 50vh;
    }
    #towers, #ttt{
        padding: 10vh 0 0;
    }
    /* #ttt{
        padding: 10vh 0 10vh;
    } */
    #cart{
        padding: 10vh 0 3vh;
    }
}

@media screen and (max-width: 320px){
    #work-container{
        width: 40vh;
        margin-top: 17vh;
    }
    #work-left{
        height:45vh;
    }
    #floralist-left{
        width: 40vh;
    }
    #floralist-mid{
        width:40vh;
    }
    .floralist-img, .f2-img{
        width:40vh;
        height:30vh;
    }
    .floralist-text{
        max-width:40vh;
        padding:0;
    }
    .other-work{
        max-width:40vh;
    }
    .work-img{
        width:40vh;
        height:30vh;
    }
    #icons i {
        padding: 5px 10px;
        font-size: 25px;
    }
}
}