nav {
    padding: 15px 15px 0 15px;
}

.nav-link{
    color: #495057;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: .075em;
    margin-top: 4.3vh;
}

.nav-tabs .nav-item {
    margin-top: 1.5px;
}

.nav-tabs .nav-link.active {
    color: #e5a2a2;
    border-color: #e5a2a2 #e5a2a2 #ffffff;
}

.line {
    position: absolute;
    bottom: 0;
    margin: 15px;
    width: calc(100% - 30px);
    border-top: 1px solid #e5a2a2;
    font-size: 1em;
    letter-spacing: .05em;
    display: flex;
    justify-content: space-between;
}

footer {
    padding: 5px;
    color: #495057;
    /* font-weight: lighter; */
}

.nav-tabs .nav-link:hover {
    color: #e5a2a2;
    border-color: #e5a2a2 #e5a2a2 #ffffff;
    background-color: #ffffff;
    transition: .5s ease-in-out;
}

.nav-tabs {
    /* height: 10vh; */
    border-bottom: 1px solid #e5a2a2;

}

#flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
    width: 100vh;
}

#about p {
    text-align: justify;
}

#bio-pic {
    /* border: 2px solid black; */
    border: 1px solid #e5a2a2;
    border-radius: .25rem;
    height: 30em;
    width: 20em;
    margin-bottom: 1em;
    background-image: url("../img/John  Renee Wedding-547.jpg");
    background-size: cover;
    background-position: top ;
    background-repeat: no-repeat;
  }

  #about-container{
    margin: 5vh auto;
    width: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1em;
    grid-column-gap: 5em;
    grid-template-areas:
    "left right";
  }

  #about-left{
    height: 70vh;
    width: 100%;
    border: 1px solid #e5a2a2;
    border-radius: .25rem;
    grid-area: left;
    background-image: url("../img/John  Renee Wedding-547.jpg");
    background-size: cover;
    background-position: top ;
    background-repeat: no-repeat;
  }

  #about-right{
    padding: 4rem 0;
    grid-area: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #resume {
    color: #495057;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: .075em;;
    text-decoration: none;
    border: 1px solid #495057;
    border-radius: .25rem;
    margin: auto;
    padding: 14px;
    text-align: center;
    grid-area: res;
  }
  
  #resume:hover {
    border:1px solid #e5a2a2;
    color: #e5a2a2;
    transition: .5s ease-in-out;
  }
#container{
    /* width: calc(100% - 30px);
    margin: 0 15px;
    height: 85vh;
    padding: 0;
    position: relative;
    border: 1px solid #e5a2a2;
    border-top: none;
    border-bottom: none; */
}

#work-left{
    grid-area: work-left;
    background-image: url("../img/Floralist.PNG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: block;
    width: 100%;
    height: 70vh;
}

#icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    right:0;
    top: 0;
}

.container:hover {
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%); 
    cursor: pointer;
    opacity: .95;
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
  }

#work-right-top{
    grid-area: work-top;
    background-image: url("../img/Towers.PNG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: block;
    /* width: 100%;
    height: 70vh; */
}

#work-right-mid{
    grid-area: work-middle;
    background-image: url("../img/TicTacToe.PNG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: block;
}

#work-right-bot{
    grid-area: work-bot;
    background-image: url("../img/Provisions.PNG");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: block;
}

#work-container{
    margin: 5vh auto;
    width: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 1em;
    grid-column-gap: 5em;
    grid-template-areas:
    "work-left work-top"
    "work-left work-middle"
    "work-left work-bot";
}

#heading{
    padding: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6px;   
}

header{
    width: 225px;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    margin: auto;
}

.container {
    width:100%;
    border: 1px solid #e5a2a2;
    border-radius: .25rem;
    transition: transform 1s ease-in-out, filter .5s ease-in-out;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

#heading h1 {
font: 1.8em 'Roboto Slab', serif;
font-weight: lighter;
letter-spacing: .1em;
padding-left: .3em;
}

#heading h2{
font-family: 'Open Sans', sans-serif;
font-size: 1em;
letter-spacing: .075em;
color: #495057;
}


@media screen and (min-width: 992px){

}